<!DOCTYPE html>
<html>
    <head>
        <title>Trabajo de Campo - DS</title>
        <!-- cargar codigo CSS -->
        <link rel="stylesheet"  href="index.css" type="text/css">
    </head>
    <body>
        <ul> <!-- BARRA DE OPCIONES -->
            <li><a class="active" href="#inicio">Inicio</a></li>
            <li><a href="#inicio">Blog</a></li>
            <li><a href="#inicio">Acerca de</a></li>
        </ul>
        <div class="content"> <!-- CONTENIDO -->
            <p>Contenido de la pagina web</p>
        </div>
    </body>
</html>